    <center><h2>Estatísticas do Estoque<span class="estoque"></span></h2></center>
    <fieldset class='form-clientes lista_pedidos'>
      <legend class="legend1"> Produtos Acabando </legend>
      <table class="table table-striped">
        <thead>
          <tr>
                <th><center>Produto</center></th>
                <th><center>Quantidade</center></th>
                <th><center>Limite Mínimo</center></th>
          </tr>
        </thead>
        <tbody>
          <% @produtos_acabando.each do |produto| %>
            <tr>
              <td><%= produto.nome %></td>
              <td><center><font color="red"><%= produto.quantidade %></font></center></td>
              <td><center><%= produto.limite_minimo %></center></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
  </fieldset>
  
    <fieldset class='form-clientes lista_pedidos'>
      <legend class="legend1"> Produtos Em falta </legend>
      <table class="table table-striped">
        <thead>
          <tr>
                <th><center>Produto</center></th>
          </tr>
        </thead>
        <tbody>
          <% @produtos_em_falta.each do |produto| %>
            <tr>
              <td><%= produto.nome %></td>
            </tr>
          <% end %>
        </tbody>
      </table> 
  </fieldset>