<div id="colcentral">
        <div id="banner"> 
              <div class="cycle-slideshow"
                  data-cycle-fx='tileSlide' 
                  data-cycle-speed="2000"
                  data-cycle-delay="1500">
                <img src="../images/slide1.jpg">
                <img src="../images/slide2.jpg">
                <img src="../images/slide3.jpg">
                <img src="../images/slide4.jpg">
                <img src="../images/slide5.jpg">

              </div>
      </div>

        <div id="colinf">
          <div id="col1"> </div>
          <div id="col2"> </div>
          <div id="col3"> </div>
        
        </div>
      </div>
   
</div>