body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

span {
  color: #000;
}

.btn-default:focus, .btn-default:hover, .btn-default {
  background-color: rgb(225, 0, 0);
  bordero-color: #ADADAD;
  color: #000000;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.teste {
  border: solid 1px;
  padding: 55px;
  margin: 10px;
  float: left;
  border-color: #00FF00;
  height: 500px;
}

a {
  color: #000;
  &:visited {
    color: #fff;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

//#notice {
 .alert-success {
  background-color: #99FF99;
  color: green;
  text-align: center;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
   }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: block;
  clear: none;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-ign: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
