<p>Bem-vindo <%= @email %>!</p>

<p>Para confirmar seu cadastro no Si Quitutes clique no link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
