<p>Olá <%= @resource.email %>!</p>

<p>Foi feito um pedido de mudança de senha no Si Quitutes. Você pode alterar sua senha clicando no link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso você não tenha feito essa requisição, por favor ignore esta mensagem.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>
